@{
    ViewBag.Title = "Home Page";
}

<a class="text text-shadow: 2px 3px 5px blu"><h3>Human Resources</h3></a>
<div class="row">
    <div class="col-md-4">
        <p>
        <br/>
        <a class="btn btn-primary btn-md" text-shadow: 2px 3px 5px blue href="@Url.Action("EmployeeDB", "Employee")">Employee Database</a>
        </p>
</div>