@{
    ViewBag.Title = "Home Page";
}

<img src="~/Images/HR.png" class="img-rounded" alt="Cinque Terre" width="325" height="200">
<br/>
<div class="row">
    <div class="col-md-4">
        <p>
        <br/>
        <a class="btn btn-primary btn-md" text-shadow: 2px 3px 5px blue href="@Url.Action("EmployeeDB", "Employee")">Employee Database</a>
        </p>
</div>