@{
    ViewBag.Title = "Home Page";
}

<h3>Human Resources</h3>
<div class="row">
    <div class="col-md-4">
        <p>
        <a class="btn btn-default" href="@Url.Action("EmployeeDB", "Employee")">Employee Database</a>
        </p>
</div>