@{
    ViewBag.Title = "Home Page";
}
@*<style>
hr {
    width: 200px;
    height: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
</style>*@

<img src="~/Images/HR.png" class="img-rounded" alt="Cinque Terre" width="325" height="200">
<br/>
<hr/>
<br/>
<div class="row">
    <div class="col-md-4">
        <p>
        <br/>
        <a class="btn btn-primary btn-md" text-shadow: 2px 3px 5px blue href="@Url.Action("Index", "Employee")">Employee Database</a>
        </p>
</div>